.planos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20%;
    margin-top: 2%;
}

.plano {
    text-align: center;
    margin: 10px;
}

.plano img {
    max-width: 100%;
    height: auto;
    max-height: 100px; 
    vertical-align: middle; 
}

.plano p {
    margin-top: 10px;
    font-weight: bold;
}