.content-container {
    text-align: center;

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .quemsomos {
        margin-top: 35%;
        margin-bottom: 20%;

    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
        margin-top: 70%;
        margin-bottom: 20%;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
        margin-top: 70%;
        margin-bottom: 20%;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    margin-top: 30%;
        margin-bottom: 20%;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
        margin-top: 40%;
        margin-bottom: 20%;
}