body {
    margin: 0;
    
  }
  /*Interfase do site */
  .formulario {
    background-color: rgba(181, 215, 247, 0.9);
    width: 400px;
    padding: 30px;
    box-sizing: border-box;
    margin: 2% auto;
    color: black;
  }
   /*Interfase da caixa de texto */
  .formulario input[type="email"],
  .formulario input[type="submit"] {
    width: 600%;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 20px;
    border: 1px solid #ccc;
    display: block;
    max-width: 350px;
  }
   /*Interfase do texto 1 */
  .formulario h2 {
    color: black;
    font-weight: 600;
  }
  /*Interfase do texto 2 */
  .formulario p {
    color: black;
    font-weight: 600;
  }
  /*Interfase do botão */
  .menu-form li a {
    color: black;
    text-decoration: none; 
    display: inline-block;
  }
 /* Interfase do botão */
  .formulario input[type="submit"] {    
    background: #007bff; 
    color: #fff;
    width: 100%; 
    padding: 10px;
}